.katalog {
  width: 100%;
  min-height: 450px;
  background-color: #eee;
  padding: 0 50px;
  gap: 5px;
  display: flex;
  position: absolute;
  top: 178px;
  left: 0;
  background-color: red;
}

.katalogSidebar {
  width: 330px;
  height: 100%;
  background-color: pink;
  padding: 15px 0 15px 10px;
}

.katalogSidebar .katalogSidebarItem {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 7px 12px;
}

.katalogSidebar .katalogSidebarItem:hover {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background-color: #eee;
  padding: 7px 12px;
  border-radius: 7px;
  color: #d82549;
}

.katalogSidebarItem .extraLinks {
  position: absolute;
  top: 0;
  left: 330px;
  background-color: blue;
  width: 500px;
  height: 300px;
  display: none;
}

.katalogSidebarItem:hover .extraLinks {
  display: flex;
}
