.card {
  width: 100%;
  background-color: #eee;
  padding: 0 50px 50px 50px;
}

.card > p {
  padding: 30px 0;
}

.card > p span {
  color: crimson;
}

.card > p span svg {
  margin: 0 5px;
  padding-top: 3px;
}

.emptyCart {
  width: 100%;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 15px;
}

.emptyCart h1 {
  font-weight: 500;
}

.emptyCart p {
  font-size: 14px;
  margin: 30px;
  font-weight: 300;
}

.emptyCart img {
  width: 330px;
  margin-bottom: 70px;
}

.emptyCart button {
  padding: 13px 35px;
  background-color: #dd1470;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.emptyCart button:hover {
  background-color: #770136;
}

.basket {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 5px;
}

.basket_left {
  width: 75%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 24px;
}

.cart_item {
  width: 100%;
  height: 126px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.cart_item:last-child,
.cart_item:first-child {
  border: 1px solid transparent;
}

.cart_item_info {
  display: flex;
  gap: 30px;
}

.cart_item_info img {
  width: 120px;
}
.cart_item_info_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.cart_item_info_name h3 {
  font-size: 18px;
}

.cart_item_info_name a {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.cart_item_info_name span {
  color: #828282;
  font-size: 14px;
}

.cart_item_actions {
  display: flex;
  gap: 30px;
}

.cart_item_actions > svg {
  font-size: 28px;
}

.cart_item_actions > svg:hover {
  transition: 0.5s;
  color: #dd1470;
}

.cart_item_count {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.cart_item_count > svg {
  width: 35px;
  height: 35px;
  background-color: #eee;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #eee;
}

.cart_item_count > svg:hover {
  border: 1px solid #dd1470;
}

.basket_right {
  width: 25%;
  height: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.basket_right h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.basket_right .basket_right_item {
  margin-bottom: 20px;
}

.basket_right .basket_right_item .basket_right_item_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.basket_right_totalInfo {
  border-top: 1px solid #f2f2f2;
  padding-top: 15px;
}

.basket_right_totalInfo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.basket_right button {
  padding: 12px 97px;
  border: 1px solid #dd1470;
  border-radius: 5px;
  color: #fff;
  background-color: #dd1470;
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.basket_right button:hover {
  background-color: #770136;
  color: #fff;
}
