
.products .products_content div  {
    width: 100%;
    height: 399px;
    background-color: blue;
    display: flex;
    gap: 10px;
}


.products .products_content div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto; 
}

.products .products_content div b {
    font-size: 22px;
    color: #dd1470;
}

.products .products_content div span {
    color: #dd1470;
    font-size: 12px;
}

.products .products_content div p {
    font-size: 14px;
}

.products .products_content div .p {
    color: #ddd;
}

.products .products_content .buy_product {
    width: 100%;
    height: 48px;
}

.products .products_content .buy_product button {
    width: 177px;
    height: 100%;
    border-radius: 7px;
    background-color: #ddd;
    border: none;
}

.products .products_content .buy_product button:nth-child(2) {
    width: 48px;
    height: 48px;
    background-color: #dd1470;
    color: #fff;
}

.products .products_navigation {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}